{% extends "main/base.html" %}

{% block content %}

<div id="about" class="row">
	<!-- <div class="col-sm-2 col-sm-offset-1 col-sm-push-6" style="margin-bottom: 15px;">
		{% load static %}
		<img class="img-responsive" src="{% static "img/girl.jpg" %}">

	</div> -->
	<div class="col-sm-12">
		<h3>>ABOUT US</h3>
		<p><i>We are designers and production consultants based in Tokyo.</i></p>

		<p><i>We are a small firm with a focus in consistent collaboration. </i></p>
 
		<p><i>We have exhibited in over 11 countries and have worked with companies and government officials from +20 countries.</i></p>

		<h3>>CREATIVE</h3>
		<p>We are passionate about design and believe that good design comes by tapping into our intuitive nature to create interactive experiences.</p>

		<h3>>GLOBAL NETWORK</h3>
		<p>We leverage our network of local contractors around the world so we can actualize your ideas with precision.</p>

		<h3>>SOLUTIONS</h3>
		<p>Our project managers are available to help you with any concerns you have on materials, structures, and/or sfx.</p>

		<h3>>WE HAVE WORKED WITH</h3>
		<ul id = "brands-box">
			{% load static %}
			<li><img src="{% static "img/logo1.jpg" %}"></li>
			<li><img src="{% static "img/logo2.png" %}"></li>
			<li><img src="{% static "img/logo3.jpg" %}"></li>
			<li><img src="{% static "img/logo4.jpg" %}"></li>
		</ul>

	</div>
	
</div>




{% endblock %}