{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="utf-8">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static "css/base.css" %}">
		<link rel="stylesheet" href="{% static "css/sidebar.css" %}">
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static "js/main.js" %}" type="text/javascript" charset="utf-8"></script>

		{% block headcontent %}

		{% endblock %}

		<title>Tap Studios</title>
	</head>
	<body>

		<!-- Sidebar -->

		{% block coming %}

		{% endblock %}

		<div id="wrapper">

			<div id="sidebar-wrapper">
				<a class="logo" href="/">Tap Studios</a>
				<ul class="sidebar-nav">
					<li><a href="/about">ABOUT</a>
					</li>
					<li><a href="/projects">PROJECTS</a>
					</li>
					<li><a href="#">CONTACT</a>
					</li>
				</ul>
			</div>

			<!-- Main -->

			<div id="page-wrapper">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12" id="header">
							<span class="menu-toggle"><a href="#">&#9776;</a></span>
							<span class="not-shown"></span>
						</div>
					</div>

					<div id="page-content">

					{% block content %}

					{% endblock %}

					</div>
				</div>
			</div>
		</div>
	</body>

<script>

$(".menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    console.log("toggle");
});

</script>
		

</html>