{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="utf-8">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static "css/base.css" %}">
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		{% block headcontent %}

		{% endblock %}

		<title>Tap Studios</title>
	</head>
	<body>

			{% block coming %}

			{% endblock %}

		<div class="wrapper">

			<div class="box">

				<!-- Sidebar -->

				<div class="column col-sm-2" id="sidebar">
					<a class="logo" href="/">Tap Studios</a>
					<ul class="nav">
						<li class="active"><a href="/about">ABOUT</a>
						</li>
						<li><a href="/projects">PROJECTS</a>
						</li>
						<li><a href="#">CONTACT</a>
						</li>
					</ul>
				</div>

				<!-- Main -->

				<div class="column col-sm-10" id="main">

			{% block content %}

			{% endblock %}
					

					<p id="footer">&copy; 2016 Tap Studios | Designed by Prashanth
					</p>

				</div>
			</div>
		</div>
	</body>

</html>