{% extends "main/base.html" %}


{% block headcontent %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

<div id="contactform" class="container-fluid">
	<div class="row">
<!-- 		<div class="contact_text col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2">
				<h4>Write to me!</h4>
		<p>I would love to hear from you, you big sweet pumpking goober. Let's roast marshmallows together in a Paris park and eat weiner-schnitzel.
		</p>
			<div class="contact_card">
			<p><i class="fa fa-envelope"></i><a href="mailto:nhannel@conncoll.edu"><strong>&nbsp;&nbsp;&nbsp;&nbsp;nhannel@conncoll.edu</strong></a></p>
			<p><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/pub/norah-a-hannel/4a/371/805"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Norah Hannel</strong></a></p>
			</div>
		</div> -->
	<div class="contact_box col-sm-5 col-sm-offset-3">

		<form action="/contact/" method="post">
		    {% csrf_token %}
		    {{ form.name }}
		    <br>
		    {{ form.email }}
		    <br>
		    {{ form.subject }}
		    <br>
		    {{ form.text }}

		    <div class="form-actions">
		    {% if form.errors %}
		    	<span class="error_msg">
		    		Oops! Not a valid entry.
		    	</span>
		    {% endif %}

		    <span class="thanks">
		    {{ thanks }}
		</span>

		      <button id="submit-button" type="submit">Send</button>
		    </div>
		</form>
	</div>

</div>

</div>


{% endblock %}