{% extends "main/base.html" %}


{% block headcontent %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

<div id="contactform" class="container-fluid">
	<div class="row">

	<div class="contact_box col-sm-5 col-sm-offset-3">

		<form action="/contact/" method="post">
		    {% csrf_token %}
		    {{ form.name }}
		    <br>
		    {{ form.email }}
		    <br>
		    {{ form.subject }}
		    <br>
		    {{ form.text }}

		    <div class="form-actions">
		    {% if form.errors %}
		    	<span class="error_msg">
		    		Invalid Entry. Please try again.
		    	</span>
		    {% endif %}

		    <span class="thanks">
		    {{ thanks }}
		</span>

		      <button id="submit-button" type="submit">Send</button>
		    </div>
		</form>
	</div>

</div>

</div>


{% endblock %}