html, body {
   height: 100%;
   font-family:'raleway', sans-serif;
}

a {
  color:#222222;
}

.wrapper {
   height: 100%;
   margin-left:0;
   margin-right:0;
}


.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image:url(/static/img/background.jpg);
    background-size:cover;
    background-attachment:fixed;
}

#sidebar {
	z-index: 20;
}


#sidebar li {
	font-family: raleway;
	font-size: large;
	font-weight: bold;
	color: black;
}

#sidebar a.logo {
	display: block;
    padding: 10px;
    background-color: #777;
    color: #FFF;
    width: 111px;
    margin: 15px;
    font-size: 26px;
    text-decoration: none;
    text-shadow: 0 0 0;
}

#comingsoon {
	position: fixed;
	width: 100%;
	text-align: center;
	font-size: 64px;
	font-family: raleway;
	z-index: 10;
	top: 40%;
}

#footer {
	font-family: raleway;
	font-size: 10px;
	position: fixed;
	bottom: 0;
	right: 15px;
}


/*About Page*/

#about {
	margin-top: 10%;
}

#about p {
	margin-bottom: 28px;
    font-family: raleway;
    font-size: 14px;
    line-height: 1.8em;
}

#about img {
	margin-left: -25px;
}


/* Projects Page */

.flex-container {
  margin-top: 100px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.flex-item {
  width: 220px;
  height: 220px;
  margin: 1%;
  margin-bottom: 25px;
  
}

.thumb {
	width: 100%;
	height: 100%;
}



/* Project Details Page */



#slideshow {
  padding-top: 25px;
}


/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

.nav {
	margin-top: 40px;
}
